<% if @tasks.size == 0 %>
  <h2 class="muted">No Resuls Found</h2>
<% end -%>

<div class="row">
  <% @tasks.map do |task| %>
    <% if task.is_status.todo %>
      <%= render 'tasks/tasks', task: task %>
    <% end %>
  <% end %>
</div>

<div  class="row">
  <% @tasks.map do |task| %>
    <% if task.is_status.ongoing %>
      <%= render 'tasks/tasks', task: task %>
    <% end %>
  <% end %>
</div>

<div class="row">
  <% @tasks.map do |task| %>
    <% if task.is_status.test %>
      <%= render 'tasks/tasks', task: task %>
    <% end %>
  <% end %>
</div>

<div class="row">
  <% @tasks.map do |task| %>
    <% if task.is_status.done %>
      <%= render 'tasks/tasks', task: task %>
    <% end %>
  <% end %>
</div>
