<div class="page-header">
  <span class="label label-important">todo</span>
  <span class="label label-success">done</span>
  <span class="label label-info">ongoing</span>
  <span class="label label-inverse">test</span>
</div>

<%= render 'actions' %>

<div class="pagination pagination-centered">
  <%= will_paginate @tasks %>
</div>

<%= render 'cards' %>

<div class="pagination pagination-centered">
  <%= will_paginate @tasks %>
</div>


