<div class="row">
<% @projects.map do |project| %>
    <div class="span4">
      <div class="card-home">
        <h3>
          <%= link_to project.name, projects_path %>
        </h3>
        <hr />
        <p class="left">
          <span>Current Sprint: <%= project.sprint_name %></span>
        </p>
        <p class="right">
          <span>Total Sprints: <%= project.sprints.size %></span>
        </p>
      </div>
      <br />
    </div>
<% end %>
</div>

