<div class="row" style="padding-top: 40px;">
  <div class="span12">
    <div class="hero-unit"; style="height: 250px;">
      <div style="text-align: center;">
        <h1>Agile2Go</h1>
      </div>
    <div style="text-align: center;">
      <h4>Scrum managament for whose love Agile!</h4>
    </div>
    <br />
    <div style="text-align: center;">
      <a class="btn btn-inverse btn-large" href="https://github.com/rafaeljesus/agile.git">
        <i class="icon-github-sign"></i> View on GitHub
      </a>      
    </div>          
  </div>
</div>
