<div style="text-align: center; height: 250px;">
  <% if !user_signed_in? %>    
    <br />
    <h1>Agile2Go</h1>      
    <h4>Scrum Management for those loves Agile!</h4>    
    <br />    
      <tr>      	
        <td>      
          <a class="btn btn-inverse btn-large" href="https://github.com/rafaeljesus/agile.git">
            <i class="icon-github-sign"></i>Fork Me
          </a>            
        </td>      
      </tr>        
  <% end %>  
</div>
